#include "winuser.h"

1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Monte Olimpo Software House - Desenvolvido por Zeus"
      VALUE "FileDescription", "Cabal Game Hook"
      VALUE "FileVersion", "0.0.0.1"
      VALUE "InternalName", "gamehook"
      VALUE "LegalCopyright", "Monte Olimpo Software House - Todos os direitos reservados"
      VALUE "OriginalFilename", "gamehook.dll"
      VALUE "ProductName", "Cabal Gamehook"
      VALUE "ProductVersion", "0.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 0x4e4
  END
END
